body {
  font-family: "Hanken Grotesk", "sans-sarif";
  text-align: center;
}

.score-card {
  background-color: hsl(241, 81%, 54%);
  color: white;
  border-radius: 0 0 20px 20px;
}

/* .score-circle {
  background-color: cadetblue;
  width: 40%;
  height: 40%;
  border-radius: 50%;
} */

.reaction {
  background-color: hsla(0, 100%, 67%, 10%);
  display: flex;
  border-radius: 5px;
}

.memory {
  background-color: hsla(39, 100%, 56%, 10%);
  display: flex;
  border-radius: 5px;
}

.verbal {
  background-color: hsla(166, 100%, 37%, 10%);
  display: flex;
  border-radius: 5px;
}

.visual {
  background-color: hsla(234, 85%, 45%, 10%);
  display: flex;
  border-radius: 5px;
}

button {
  border: none;
  background-color: hsl(224, 30%, 27%);
  font-weight: 800;
  color: white;
  padding: 1rem 5rem;
  border-radius: 24px;
}
